<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{'/filter/{filterMethod}' (filterMethod = 'ALL')}">Компьютерные комплектующие</a>
                <ul class="nav navbar-nav">
                    <li><a href="#" th:href="@{/new}">Добавить</a></li>
                </ul>
            </div>
            <div class="navbar-right">
                <label th:for="log">Пользователь: [[${#httpServletRequest.remoteUser}]]</label>
                <form th:action="@{/logout}" method="post" th:id="log">
                    <input type="submit" value="Выйти"/>
                    </form>
            </div>
        </div>
    </nav>
</div>
</html>